.carrousel {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 500px){
        height: 200px;
        margin-top: 20px;
    }
    @media screen and (max-width: 700px){
        height: 300px;
        
    }
}


.arrow_carousel{
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    top: 50%;
    height: 15%;
    transform: translateY(-50%);
    cursor: pointer;
    }
    
.counter{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;
    font-size: clamp(14px, 2vw, 18px);
    }